/*--------------------------------------------------------------------------------------------------------
                                            Color Guide

Background color rgb(3,57,63)
Foreground color  rgb(237,244,245)
	              rgb(4,86,89)
	              rgb(88,140,143)
	              rgb(150,190,192)
--------------------------------------------------------------------------------------------------------*/

:root{
	font-size: 16px;
}


:focus {
    outline: none;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Merriweather', serif;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: rgb(237,244,245);
}

header{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	background-color:rgba(10, 77, 85,0.38);
}

header h1{
	padding: 50px 0 25px 0;
	font-weight: 700;
	font-size: 4rem;
}

header nav{
	padding: 25px 30px 50px 30px;
	width: 100%;
}

header nav ul{
	display: flex;
	align-items: center;
	justify-content: center;
}

header nav ul li{
	margin: 0 auto;
	list-style: none;
	max-width: 200px;
	width: 100%;
}

header nav ul li .btn{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(4,75,77);
	height: 50px;
	border-radius: 10px;
	list-style: none;
	color: rgb(237,244,245);
	text-decoration: none;
	transition: 0.9s background-color;
}

header nav ul li .btn:hover{
	background-color: rgb(14, 178, 184);
}

@media only screen and (max-width: 920px) {
    
	header nav ul{
		flex-direction: column;
	}

	header nav ul li{
		margin: 8px auto;
	}
	
	header h1 {
		font-size: 2.5rem;
	}
}

main{
	padding: 25px 50px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	background: rgba(5, 40, 44, 0.9);
}

main section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

main section.intro p{
	text-align: center;
}

main section .title{
	padding: 25px 0;
	text-align: center;
	font-size: 2rem;
}

main section img{
	padding: 25px 0;
	max-width: 500px;
	width: 100%;
}

main section article{
	padding: 10px 0;
	display: flex;
	max-width: 450px;
	width: 100%;
	margin: 0 auto;
}

main section article .info{
	padding: 0 20px 0 10px;
	width: 50%;
}

main section article .image{
	width: 50%;
	height: 200px;
	object-fit: cover;
    object-position: center;
    position: relative;
    overflow: hidden;
}

main section article .title{
	font-size: .85rem;
}

main section article .description{
	font-weight: normal;
	font-size: .7rem;
}

main section > form, main section > .info{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 50%;
}

section.add .container form input::-webkit-input-placeholder, section.add .container form textarea::-webkit-input-placeholder {
    color: rgb(237,244,245);
    font-weight: 400;
}

section.add .container form input::-moz-placeholder, section.add .container form textarea::-moz-placeholder {
    color: rgb(237,244,245);
    font-weight: 400;
}

section.add .container form input:-moz-placeholder, section.add .container form textarea:-moz-placeholder {
    color: rgb(237,244,245);
    font-weight: 400;
}

section.add .container form input:-ms-input-placeholder, section.add .container form textarea:-ms-input-placeholder {
    color: rgb(237,244,245);
    font-weight: 400;
}

main section > form input, main section > form textarea{
	margin: 12px 0;
    padding: 8px;
    background-color: rgba(10, 77, 85, 0.75);
	color: rgb(237,244,245);
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 1.15rem;
	border: none;
	width: 100%;
}

main section > form textarea{
	resize: none;
	height: 150px;
}

main section > form input.btn{
	padding: 12px;
	margin: 12px 0 12px auto;
	border: none;
	border-radius: 15px;
	max-width: 150px;
	width: 100%;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 1.15rem;
	transition: 0.9s all;
	cursor: pointer;
}

main section > form input.btn:hover{
	background-color: rgb(192, 192, 187);
	color: rgb(3, 57, 63);
}

main section > .info h3.title{
	padding: 0 0 0 30px;
	width: 100%;
}

main section > .info ul{
	list-style: none;
}

main section > .info ul.contact li{
	padding: 10px 0;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1rem;
}

main section > .info ul.contact li a{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1rem;
	transition: all .2s ease-in-out;
}

main section > .info ul.contact li a:hover{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1rem;
}

main section > .info ul.social {
	display: flex;
	justify-content: center;
}

main section > .info ul.social li{
	margin: 0 10px;
	max-width: 50px;
	width: 100%;
}

main section > .info ul.social li a{
	font-size: 2.5rem;
}

main section > .info ul.contact li a, main section > .info ul.social li a{
	padding: 10px 0;
	color: rgb(237,244,245);
	transition: all .2s ease-in-out;
	text-decoration: none;
}

main section > .info ul.contact li a:hover,  main section > .info ul.social li a:hover{
	padding: 10px 0;
	color: rgb(237,244,245, .35);
	text-decoration: none;
}

@media only screen and (max-width: 1024px) {
	main section > form, main section > .info {
		width: 100%;
	}

	main section > .info h3.title{
		padding: 0;
		padding-top: 15px;
		padding-bottom: 10px;
	}
}

@media only screen and (max-width: 720px) {
	
	main{
		padding: 25px 15px;
	}

	main section article {
		flex-wrap: wrap;
	}

	main section article .info, main section article .image {
		padding: 0;
		width: 100%;
	}

	main section article .info{
		padding-bottom: 10px;
	}

	main section article .description{
		text-align: center;
	}

	main section article .image {
		object-fit: contain;
	} 

	main form{
		padding-bottom: 15px;
	}

	main section > form input, main section > form textarea{
		font-size: 1rem;
	}

	main section > form input.btn{
		margin: 0 auto;
	}

}

@media only screen and (max-width: 420px) {
	main section > form, main section > .info {
		width: 100%;
	}

	main section > .info h3.title{
		padding: 0;
		padding-top: 15px;
		padding-bottom: 10px;
	}
}


@media only screen and (max-width: 385px) {
    
	main section .title {
		font-size: 1.4rem;
	}
	

	main section.intro p {
		font-size: .85rem;
	}

	main section > .info ul.contact li {
		font-size: .75rem;
	}
	
}

footer{
	background-color: rgb(192, 192, 187);
	padding: 20px 0;
	color: rgba(3, 57, 63, .75);
	text-align: center;
}

footer p{
	margin: 0;
	padding: 0;
	font-size: .75rem;
	font-weight: 700;
}

@media only screen and (max-width: 385px) {

	footer p{
		font-size: .6rem;
	}

}